<div class="col-lg-6">
  <div class="page-header">
    <h3>Output</h3>
  </div>
  <%= image_tag @assignment.diagram.url %>
</div>
<div class="col-lg-6">
  <div class="page-header">
    <%= link_to('Edit Grade', edit_assignment_path(@assignment), class: 'pull-right') %>
    <h3>Grade</h3>
  </div>
  <div class="col-lg-12">
    <dl class="dl-horizontal">
    <% @assignment.grades.attributes.each do |k, v| %>
      <dt><%= k.to_s.titleize %></dt>
      <dd><%= v %></dd>
    <% end %>
    </dl>
  </div>
</div>
